/.idea/
/.vscode/
/node_modules/
/vendor/

/bitrix/*
/upload
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/backup/
/upload/tmp/
/upload/resize_cache/
/bitrix/php_interface/dbconn.php

/!*.xml
/!*.html
/!*.txt
/!*.csv
*.rar
*.tar
*.tar.gz

/html
CLAUDE.md
nul